@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text-sm: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;
    --text-4xl: 3.5rem;

    --accent-color: rgb(207, 149, 86);
    --accent-color-hover: rgb(232, 169, 101);
    --paragraph-text: rgb(84, 84, 84);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif
}

.navbar{
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    padding: 1.75em 2em;
    --nav-hover-color: rgb(192, 192, 192);

    .navbar__title{
        font-size: var(--text-xl);
        font-weight: 500;
    }

    .navbar__links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        list-style: none;
        font-size: var(--text-md);

        a {
            text-decoration: none;
            color: white;
            transition: color 0.2s;
        }
    }

    .navbar__socials{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;

        & > i {
            transition: color 0.2s;
            cursor: pointer;
        }

    }

    .navbar__socials > i:hover,
    .navbar__links > li > a:hover {
        color: var(--nav-hover-color);
    }

}

.sidebar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    z-index: 10;
    display: none;
    height: 50px;
    transition: 0.7s ease-out;
    overflow: hidden;

    #burgerIcon{
        display: none;
    }


    /* Animation */
    &:has(#burgerIcon:checked){
        height: 100dvh;
        background-color: rgba(0, 0, 0, 1);
    }

    label:has(+ #burgerIcon:checked) > .burger-bar:nth-child(1){
        transform: translateY(12.5px);
        rotate: 45deg;
    }
    label:has(+ #burgerIcon:checked) > .burger-bar:nth-child(2){
        opacity: 0;
    }
    label:has(+ #burgerIcon:checked) > .burger-bar:nth-child(3){
        transform: translateY(-12.5px);
        rotate: -45deg;
    }


    &:has(#burgerIcon:checked) .navbar__socials, 
    &:has(#burgerIcon:checked) .navbar__links > li{
        opacity: 1;
        transform: translateX(0);
        transition: 0.7s ease-out calc(var(--i) * 0.5s);
    }


    .burger-icon{
        margin: 15px;
        transition: 0.7s;

        &:has(> #burgerIcon:checked){
            transform: translateX(10px);
        }
    }

    .burger-icon > label{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        .burger-bar{
            width: 28px;
            height: 4px;
            background-color: white;
            border-radius: 5px;
            transform-origin: center;
            transition: 0.7s;
        }
    }

    .sidebar__content{
        position: absolute;
        z-index: -1;
        inset: 0;
        display: flex;
        gap: 5em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 'Oswald';

        .navbar__links{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: var(--text-xl);
            text-transform: uppercase;
            font-weight: 500;
            font-family: 'Oswald';
            gap: 1.5em;

            a{
                color: white;
                text-decoration: none;
                transition: color 0.4s;
            }

        }

        .navbar__socials{
            i{
                margin: 0 1em;
                font-size: var(--text-xl);
                transition: color 0.4s;
            }
        }

        .navbar__socials > i:hover,
        .navbar_links li:hover > a {
            color: var(--nav-hover-color);
        }

        .navbar__socials, .navbar__links > li{
            opacity: 0;
            transition: 0.4s;
        }

    }

}


@media screen and (max-width: 800px) {
    .navbar{
        display: none;
    }
    .sidebar{
        display: grid;
    }
}

.section_home{
    height: 100vh;

    figure{
        position: absolute;
        width: 100%;
    }

    .home__bg::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .home__bg {
        inset: 0;
    }

    .home__bg > img,
    .home__logo > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
    }



    .home__logo{
        z-index: 2;
        width: clamp(300px, 30%, 600px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.section_citation{
    background-color: var(--accent-color);
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: var(--text-4xl);
    padding: 2em 3.5em;
    font-weight: 600;
    line-height: 1em;

    &::after,
    &::before{
        content: "â€"
    }
}

.section_traditions{

    .subsection {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .subsection__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        padding-inline: 3em;
        text-align: center;
    }

    .info__title{

        text-align: center;

        .title{
            font-family: 'Oswald', sans-serif;
            font-size: var(--text-3xl);
            text-transform: uppercase;
            font-weight: 400;
        }
        .subtitle{
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: 600;
        }
    }

    .info__description{
        font-family: 'Raleway', sans-serif;
        color: var(--paragraph-text);
        line-height: 2em;
        font-size: var(--text-md);
    }

    .info__button{
        color: white;
        font-family: 'Oswald', sans-serif;
        padding: 0.5em 3em;
        border: none;
        background-color: var(--accent-color);
        border-radius: 7px;
        text-transform: uppercase;
        font-size: var(--text-lg);
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover{
            background-color: var(--accent-color-hover);
        }
    }

    .subsection__logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.barrel {
            background-image: url("./resources//img/h5-el-holder-img-1-1.jpg");
        }

        &.beer {
            background-image: url("./resources//img/h5-el-holder-img-2.jpg");
        }

        & > img {
            width: 75%;
            aspect-ratio: 1;
            object-fit: cover;
        }

    }

}

.section_gallery{

    display: grid;
    grid-template-columns: repeat(4, auto);
    

    .gallery_item{
        background-color: red;
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        position: relative;
        cursor: pointer;

        &::after{
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--accent-color);
            opacity: 0;
            transition: 0.4s opacity ease-out;
        }

        &:hover::after{
            opacity: 0.75;
        }

        figure{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    
        .hover-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            font-size: 5em;
            color: white;
            z-index: 5;
            opacity: 0;
            transition: 0.8s ease-out;
        }
    
        &:hover .hover-icon{
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }

        &:hover img {
            scale: 1.1;
        }
    
        img{
            object-fit: cover;
            transition: 0.5s scale ease-out;
        }
    }


}

.section_service{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    padding-inline: 6vw;

    .service__img{
        margin-bottom: 1.5em;

        & > img {
            scale: 1.2;
        }

    }

    .service__text{
        font-family: 'Oswald';
        user-select: none;

        .title{
            font-size: 1.5em;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        &:hover .title{
            color: var(--accent-color);
        }
    
        .subtitle{
            color: var(--paragraph-text);
            font-weight: 300;
            font-size: var(--text-lg);
        }
    }




}

.section_parallax{
    height: 400px;
    background: url('./resources/img/h5-parallax-img-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;

    .parallax_title{
        font-family: 'Oswald';
    }

    .title{
        color: rgb(221, 221, 221);
        font-weight: 400;
        text-transform: uppercase;
        font-size: var(--text-4xl);
        margin-bottom: 0.25em;
    }

    .subtitle{
        color: rgb(205, 205, 205);
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: var(--text-lg);
        text-transform: capitalize;
    }

}

.section_map{

    overflow: hidden;
    position: relative;
    height: 35vw;
    width: 100%;

    iframe{
        width: 170%;
        height: 100%;
        transform: translateX(-20%);
        filter: grayscale(80%) brightness(80%) contrast(130%);
    }

    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, black 0%, black 5%, transparent 40%, transparent 60%, black 95% , black 100%);
        z-index: 4;
    }

    &::before{
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0.7;
        inset: 0;
        z-index: 3
    }

}

.footer{
    background-color: black;
    padding-block: 7em;
    text-align: center;
    
    & > h2 {
        font-family: 'Oswald';
        text-transform: uppercase;
        color: rgb(207, 207, 207);
        font-weight: 500;
    }

}